@import 'createInstructor.css';

:root {
  --primary-color: #7159c1;
  --secondary-color: #f7df1e;
}

body {
  background-color: var(--primary-color);
  font-family: 'Roboto', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
}

header {
  display: flex;
  align-items: center;
  background-color: aliceblue;
  padding: 20px 30px;
  justify-content: space-between;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

header .logo {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  overflow: hidden;
}

header .logo img {
  width: 100%;
}

header .nav {
  background-color: aliceblue;
  position: absolute;
  width: 100%;
  top: 86px;
  left: -600px;
  transition: ease-in-out 400ms;
  -webkit-box-shadow: 0px 6px 7px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 6px 7px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 6px 7px 0px rgba(0,0,0,0.75);
  z-index: 2;
}

header .nav .links {
  text-align: center;
  display: block;
  padding: 15px 0;
  border-bottom: 1px solid rgba(0,0,0, 0.2);
  border-left: 4px solid rgba(0,0,0, 0.2);
  color: #777;
  background: linear-gradient(to right, rgb(167, 166, 166) 50%, aliceblue 50%);
  background-size: 200% 100%;
  background-position:right bottom;
}

header .nav .links.active {
  color: var(--primary-color);
}

header .nav .links:hover {
  border-left-color: var(--primary-color);
  background-position: left bottom;
  transition: all 0.9s ease;
}

header .showMenu {
  left: 0;
}

header .btnCloseMenu {
  display: none;
}

header .btnOpenMenu i,
header .btnCloseMenu i {
  font-size: 40px;
  cursor: pointer;
  color: var(--primary-color);
}

@media (min-width: 600px) {
  header .nav {
  text-align: center;
  position: static;
  width: 100%;
  box-shadow: none;
  }

  header .nav .links {
    position: relative;
    display: inline-block;
    border: none;
    background: none;
  }

  header .nav .links + .links {
    margin-left: 30px;
  }

  header .nav .links::after {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    background-color: var(--primary-color);
    left: 0;
    bottom: 7px;
  }

  header .nav .links:hover::after {
    width: 100%;
    transition: width 400ms ease-in-out;
  }

  header .btnOpenMenu,
  header .btnCloseMenu {
    display: none;
  }
}

/* === INSTRUCTORS === */
.card {
  display: grid;
  grid-template-rows: 1.5fr 2fr;
  width: 80%;
  max-width: 1100px;
  background-color: white;
  margin: 45px auto;
  -webkit-box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.4); 
  box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.7);
  animation-name: up;
  animation-duration: 700ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes up {
  from {
    transform: translateY(30px);
  }

  to {
    opacity: 1;
  }
}

.card .details {
  padding: 8px 16px;
  height: auto;
}

.card .details h3 {
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-color);
  margin-bottom: 8px;
}


.details .itemsContainer {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-gap: 16px 0;
  grid-template-areas: 
  "name name"
  "age age"
  "gender gender"
  "graduation since"
  "support support"
  "editButton editButton"
}

.details .item:nth-child(1) {
  grid-area: name;
}

.details .item:nth-child(2) {
  grid-area: age;
}

.details .item:nth-child(3) {
  grid-area: gender;
}

.details .item:nth-child(4) {
  grid-area: graduation;
}

.details .item:nth-child(5) {
  grid-area: support;
  border-bottom: none;
}

.details .item:nth-child(6) {
  grid-area: since;
}

.details .button {
  grid-area: editButton;
  text-decoration: none;
}

.details .item {
  padding-bottom: 4px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.details .item div:nth-child(1){
  font-size: 14px;
  color: #777;
  line-height: 24px;
  letter-spacing: 0.7px;
}

.details .item div:nth-child(2){
  font-size: 16px;
  color: #555;
  font-weight: bold;
}

.details .item span {
  display: inline-block;
  padding: 8px 16px;
  background-color: var(--secondary-color);
  border-radius: 16px;
  color: #777;
  margin-right: 4px;
  margin-top: 8px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
}

/* === Table Mobile === */
.tableContainer {
  display: block;
  padding: 24px;
}

.tableMobile,
.tableDesktop {
  border-spacing: 0;
}

.tableMobile thead tr {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 0 16px;
  text-transform: uppercase;
  color: #777;
  font-size: 14px;
}

.tableMobile tbody tr {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "avatar-name services"
  "avatar-name button";
  align-items: center;
  gap: 16px;
}

.tableMobile tbody tr td:nth-child(1) {
  grid-area: avatar-name;
  text-align: center;
}

.tableMobile tbody tr td:nth-child(2) {
  grid-area: services;
  text-align: center;
}

.tableMobile tbody tr td:nth-child(3) {
  grid-area: button;
  text-align: center;
}

.tableMobile tbody tr td {
  font-size: 14px;
}

.tableMobile thead tr, .tableMobile tbody tr {
  padding: 16px;
  border-bottom: 1px solid #d9d9d9;
}
 
.tableMobile tbody tr:last-child {
  border: none;
}

.tableMobile tbody tr td:first-child {
  display: grid;
  grid-template-rows: 56px 1fr;
}

.tableMobile tbody tr td:first-child span {
  width: 48px;
  height: 48px;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  box-shadow: 3px 1px 6px -4px black;
  border: 2px solid var(--primary-color);
  margin: 0 auto;
}

.tableMobile tbody td a {
  background-color: var(--primary-color);
  color: white;
  padding: 8px 16px;
  font-size: 12px;
  border-radius: 4px;
  text-transform: uppercase;
}

.tableDesktop {
  display: none;
}

@media (min-width: 600px) {
  .card {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto;
    min-height: 400px;
  }

  .card .details {
    padding: 16px 24px;
  }

  .card .details h3 {
    text-align: left;
  }

  
  .tableMobile {
    display: none;
  }

  /* === Table Tablet/Desktop === */
  .tableContainer {
    display: block;
    padding: 40px;
  }

  .tableDesktop {
    display: block;
  }

  .tableDesktop td, 
  .tableDesktop th {
    padding: 16px 8px;
    border-bottom: 1px solid #d9d9d9;
  }

  .tableDesktop th {
    text-transform: uppercase;
    color: #777;
    font-size: 14px;
  }

  .tableDesktop tbody tr:last-child td {
    border-bottom: none;
  }

  .tableDesktop tbody tr td:first-child {
    display: grid;
    grid-template-columns: 64px 1fr;
    align-items: center;
  }

  .tableDesktop tbody tr td:first-child span {
    width: 48px;
    height: 48px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 3px 1px 6px -4px black;
    border: 2px solid var(--primary-color);
  }

  .tableDesktop tbody tr td:last-child a {
    background-color: var(--primary-color);
    padding: 8px 16px;
    text-transform: uppercase;
    color: white;
    font-size: 12px;
    border-radius: 4px;
  }

  .tableDesktop th:last-child {
    text-align: center;
  }

}