@import 'createInstructor.css';

:root {
  --primary-color: #7159c1;
  --primary-color-lighter: #7159c15b;
  --secondary-color: #f7df1e;
}

body {
  background-color: var(--primary-color);
  font-family: 'Roboto', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
}

header {
  display: flex;
  align-items: center;
  background-color: aliceblue;
  padding: 20px 30px;
  justify-content: space-between;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

header .logo {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  overflow: hidden;
}

header .logo img {
  width: 100%;
}

header .nav {
  background-color: aliceblue;
  position: absolute;
  width: 100%;
  top: 86px;
  left: -600px;
  transition: ease-in-out 400ms;
  -webkit-box-shadow: 0px 6px 7px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 6px 7px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 6px 7px 0px rgba(0,0,0,0.75);
  z-index: 2;
}

header .nav .links {
  text-align: center;
  display: block;
  padding: 15px 0;
  border-bottom: 1px solid rgba(0,0,0, 0.2);
  border-left: 4px solid rgba(0,0,0, 0.2);
  color: #777;
  background: linear-gradient(to right, rgb(175, 165, 231) 50%, aliceblue 50%);
  background-size: 200% 100%;
  background-position:right bottom;
}

header .nav .links.active {
  color: var(--primary-color);
  font-weight: bold;
}

header .nav .links:hover {
  border-left-color: var(--primary-color);
  background-position: left bottom;
  transition: all 0.9s ease;
}

header .showMenu {
  left: 0;
}

header .btnCloseMenu {
  display: none;
}

header .btnOpenMenu i,
header .btnCloseMenu i {
  font-size: 40px;
  cursor: pointer;
  color: var(--primary-color);
}

@media (min-width: 600px) {
  header .nav {
  text-align: center;
  position: static;
  width: 100%;
  box-shadow: none;
  }

  header .nav .links {
    position: relative;
    display: inline-block;
    border: none;
    background: none;
  }

  header .nav .links + .links {
    margin-left: 30px;
  }

  header .nav .links::after {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    background-color: var(--primary-color);
    left: 0;
    bottom: 7px;
  }

  header .nav .links:hover::after {
    width: 100%;
    transition: width 400ms ease-in-out;
  }

  header .btnOpenMenu,
  header .btnCloseMenu {
    display: none;
  }
}

.card {
  display: grid;
  grid-template-rows: 1.5fr 2fr;
  width: 80%;
  max-width: 1100px;
  background-color: white;
  margin: 45px auto;
  -webkit-box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.4); 
  box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.7);
  animation-name: up;
  animation-duration: 700ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes up {
  from {
    transform: translateY(30px);
  }

  to {
    opacity: 1;
  }
}

.card .details {
  padding: 8px 16px;
  height: auto;
}

.card .details h3 {
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-color);
  margin-bottom: 8px;
}

.details .itemsContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px 0;
}

.details .item {
  padding-bottom: 4px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.details .item div:nth-child(1){
  font-size: 14px;
  color: #777;
  line-height: 24px;
  letter-spacing: 0.7px;
}

.details .item div:nth-child(2){
  font-size: 16px;
  color: #555;
  font-weight: bold;
}

.details .item span {
  display: inline-block;
  padding: 8px 16px;
  background-color: var(--secondary-color);
  border-radius: 16px;
  color: #777;
  margin-right: 4px;
  margin-top: 8px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
}

@media (min-width: 600px) {
  .card {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto;
    min-height: 400px;
  }

  .card .details {
    padding: 16px 24px;
  }

  .card .details h3 {
    text-align: left;
  }

}

/* FILTER */
.tableContainer .header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  align-items: center;
  grid-row-gap: 24px;
}

.tableContainer .header a,
.tableContainer .header button {
  width: 100%;
  font-size: 14px;
  padding: 8px 16px;
}

.tableContainer .header form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  grid-row-gap: 8px;
  margin-bottom: 24px;
}

.tableContainer .header form input {
  border: 1px solid #eeeeee;
  padding: 4px 8px;
  font-size: 16px;
  width: 100%;
  border-radius: 4px;
}

.tableContainer .header form input::placeholder {
  font-size: 16px;
}

@media (min-width: 480px) {
  .tableContainer .header {
    grid-template-rows: 1fr 1fr;
  }

  .tableContainer .header form {
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;
    grid-column-gap: 8px;
  }

  .tableContainer .header a,
  .tableContainer .header button {
    width: 120px;
  }

  .tableContainer .header a,
  .tableContainer .header button,
  .tableContainer .header form input::placeholder {
    font-size: 16px;
  }

  .tableContainer .header form input {
    padding: 8px 16px;
  }
}

@media (min-width:768px) {
  .tableContainer .header {
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1fr;
    margin-bottom: 24px;
  }

  .tableContainer .header form {
    margin-bottom: 0px;
  }
}

/* TABLE */
.tableContainer {
  display: block;
  padding: 20px;
}

.tableContainer table {
  border-spacing: 0;
}

.tableContainer thead tr th {
  text-align: left;
}

td, th {
  padding: 16px;
  border-bottom: 1px solid #d9d9d9;
}

th {
  text-transform: uppercase;
  color: #777;
}

tbody tr:last-child td {
  border-bottom: none;
}

tbody tr td:first-child {
  display: grid;
  grid-template-columns: 64px 1fr;
  align-items: center;
}

tbody tr td:first-child span {
  width: 48px;
  height: 48px;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  box-shadow: 3px 1px 6px -4px black;
  border: 2px solid white;
}

tbody tr td:last-child a,
.tableContainer > a {
  background-color: var(--primary-color);
  padding: 8px 16px;
  text-transform: uppercase;
  color: white;
  font-size: 14px;
  border-radius: 4px;
}

.tableContainer > a {
  display: inline-block;
  margin-bottom: 16px;
}

.tableContainer thead tr th:last-child,
td:last-child {
  text-align: center;
}

.tableContainer tbody tr {
  margin-bottom: 24px;
}

@media (min-width: 600px) {
  .tableContainer {
    display: block;
    padding: 40px;

  }
}

@media (max-width: 767px) {
  tbody tr td:first-child {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 64px 1fr;
    align-items: center;
  }
}

@media (max-width: 599px) {
  table thead {
    display: none;
  }

  table,
  table tbody,
  table tr,
  table td {
    display: block;
    width: 100%;
  }

  table tbody tr {
    font-size: 16px;
  }

  table td {
    text-align: right;
    padding-left: 50%;
    position: relative;
  }

  table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 8px;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
  }

  table tbody tr {
    border: 1px solid #d9d9d9;
    border-radius: 4px;
  }

  table tbody tr td:last-child {
    border-bottom: none;
  }

  table tbody tr:last-child td {
    border-bottom: 1px solid #d9d9d9;
  }

  table tbody tr:nth-child(even) {
    background-color: var(--primary-color-lighter);
  }

  table tbody tr td:first-child {
    display: block;
  }

  table tbody tr td:last-child {
    text-align: right;
  }

  table tbody tr td span {
    display: none;
  }

}

@media (max-width: 479px) {

  table tbody tr td:last-child a {
    padding: 4px 8px;
    font-size: 12px;
  }
}

/* === PAGINATION === */
.tableContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr 16px;
}

.tableContainer .pagination {
  margin: 0;
  align-self: end;
  justify-self: center;
}

.pagination a,
.pagination span {
  color: var(--primary-color);
  margin-right: 16px;
}

.pagination a:hover {
  filter: brightness(0.3);
  border-bottom: 1px solid var(--primary-color);
}