{% extends "layout.njk" %}

{% block content %}
<div class="card">
  <section class="avatar" style="background: no-repeat top center / cover url({{ instructor.avatar_url }})"></section>
  <section class="details">
    <h3>Detalhes</h3>

    <div class="itemsContainer">
      <div class="item">
        <div>Instrutor(a)</div>
        <div>{{ instructor.name }}</div>
      </div>

      <div class="item">
        <div>Idade</div>
        <div>{{ instructor.birth }} anos</div>
      </div>

      <div class="item">
        <div>Sexo</div>
        <div>{{instructor.gender}}</div>
      </div>

      <div class="item">
        <div>Grau de escolaridade</div>
        <div>{{instructor.graduation}}</div>
      </div>

      <div class="item">
        <div>Acompanhamento</div>
        <div>
          {% for service in instructor.services %}
          <span>{{ service }}</span>
          {% endfor %}
        </div>
      </div>

      <div class="item">
        <div>Cadastrado desde</div>
        <div>{{ instructor.created_at }}</div>
      </div>

      <a href="/instructors/{{instructor.id}}/edit" class="button">Editar</a>
    </div>
  </section>
</div>

{% endblock content %}