{% extends "layout.njk" %}

{% block content %}
<div class="card">
  <section class="avatar" style=""></section>
  <section class="details">
    <h3>Detalhes</h3>

    <div class="itemsContainer">
      <div class="item">
        <div>Instrutor</div>
        <div>Christopher Leonardo Alves</div>
      </div>

      <div class="item">
        <div>Idade</div>
        <div>28 anos</div>
      </div>

      <div class="item">
        <div>Grau de escolaridade</div>
        <div>Bacharel em Educação Física</div>
      </div>

      <div class="item">
        <div>Tipo de Aula</div>
        <div>Presencial</div>
      </div>

      <div class="item">
        <div>Acompanhamento</div>
        <div>
          <span>Musculação</span>
          <span>Crossfit</span>
        </div>
      </div>

      <div class="item">
        <div>Desde</div>
        <div>10/01/2019</div>
      </div>
    </div>
  </section>
</div>

{% endblock content %}